<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">

    <title>Fluorine - {{ the_title }}</title>

    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  </head>
  <body class="bg-dark text-white" style="margin-top:10rem;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3 row">
          <h1 class="col-12" style="text-align:center;margin-bottom:5rem;">{{ word }}</h1>
          <p class="text-primary"><b>{{ word_trans }}</b></p>

          <form method="post">
            <label for="text" style="margin-top:2em;margin-bottom:1em;">在这里输入您想要转换的内容：</label>
            <textarea class="col-12 form-control bg-dark text-white" name="input" id="text" style="height:10rem;margin-bottom:1em;">{{ text_content }}</textarea>

            <input class="btn btn-outline-primary col-6 offset-3" style="margin-bottom:2rem;" type="submit">
          </form>

          <p class="text-muted" style="margin:1em;text-align:center;">请访问: <a href="https://github.com/rice0208/chlorine/">GitHub</a> | <a href="https://fluorine.pythonanywhere.com/api?word=你好！">API</a></p>
          
          <p>Fluorine是一系列适用于“语言不精确输入”的应用，其目的在于改善搜索引擎中由于不规范中文导致结果偏离的问题。<br>Chlorine是Fluorine的内核，您目前使用的就是它的互动性API，目前Chlorine可以在PyPI中安装，提供了whl文件和.tar.gz的安装包。</p>
          <pre><code>$ pip install chlorine</code></pre>

          <p>调用模块方式：<pre><code>Python 3.8.5 (tags/v3.8.5:580fbb0, Jul 20 2020, 15:43:08) [MSC v.1926 32 bit (Intel)] on win32<br>Type "help", "copyright", "credits" or "license" for more information.<br><br>>>> from chlorine import Translate<br><br>>>> Translate('text_you_want').translate()<br>'text-you-want'<br></code></pre></p>
          <p>调用API方式：<pre><code><a href="https://fluorine.pythonanywhere.com/api?word=你好！">https://fluorine.pythonanywhere.com/api?word=你好！</a></code></pre></p>

          
          
          <p class="text-muted" style="margin:3rem;text-align:center">
版权©：Fluorine团队<br>Licensed Under GPL-3.0
          </p>
        </div>
      </div>
    </div>
  </body>
</html>